@import 'nib'
@import './button'

WHITE = rgb(255, 255, 255)
GRAY_LIGHT = rgb(200, 200, 200)
GRAY = rgb(100, 100, 100)
BLACK = rgb(0, 0, 0)
PURPLE = rgb(66, 69, 85)
BLUE_LIGHT = rgb(116, 163, 215)
RED = rgb(255, 0, 0)

HIGHLIGHT = rgb(250, 250, 220)

SCROLLBAR_TRACK = transparent
SCROLLBAR_THUMB_DARKEN  = rgba(0,0,0,0.175)
SCROLLBAR_THUMB_LIGHTEN = rgba(255,255,255,0.175)

SIDEBAR_WIDTH = 250px
FRIENDS_LOGO_HEIGHT = 90px
SIDEBAR_BOTTOM_HEIGHT = 61px

AVATAR_SIZE = 50px
AVATAR_SIZE_SMALL = 30px

BORDER_RADIUS = 50px

FONT_SIZE_BIG = 26px
FONT_SIZE = 16px
FONT_SIZE_SMALL = 13px
FONT_SIZE_EXTRA_SMALL = 11px

TOP_BAR_HEIGHT = 90px

SPACING_SIZE = 10px

ellipsis()
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.clearfix:before, .clearfix:after
  content: ''
  display: table

.clearfix:after
  clear: both

*, *:after, *:before
  box-sizing: border-box

html, body
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: FONT_SIZE
  margin: 0
  padding: 0
  height: 100%
  overflow: hidden
  letter-spacing: .7px

h1, h2, h3, h4, h5, h6
  margin: 0.1em 0
h1
  font-size: 1.3em
h2
  font-size: 1.2em
h3
  font-size: 1em
h4
  font-size: 0.8em
h5
  font-size: 0.6em
h6
  font-size: 0.4em

ul
  -webkit-padding-start: 20px

textarea, input, button
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  padding: SPACING_SIZE
  margin-top: 3px
  font-size: FONT_SIZE_SMALL
  outline: none
  border: 0px

button
  background: transparent
  border: none
  font-size: FONT_SIZE

.sidebar
  position: absolute
  left: 0
  top: 0
  bottom: 0
  width: SIDEBAR_WIDTH
  height: 100%
  color: WHITE
  background: PURPLE top left url('../static/logo.png') no-repeat
  background-size: SIDEBAR_WIDTH
  padding-top: FRIENDS_LOGO_HEIGHT
  padding-bottom: SIDEBAR_BOTTOM_HEIGHT
  user-select: none
  cursor: default

  .sidebar-scroll
    overflow: auto
    height: 100%
    padding: 0 SPACING_SIZE 4em SPACING_SIZE

  .heading
    font-size: FONT_SIZE_SMALL
    margin-top: (SPACING_SIZE * 2)
    margin-bottom: SPACING_SIZE
    text-transform: uppercase

  button
    ellipsis()
    color: WHITE
    text-decoration: none
    margin-top: 0px
    display: block

  .addChannel
    font-size: FONT_SIZE
    padding: 0px
    margin-top: 5px

    input
      width: 100%
      z-index: 10000
      border-radius: BORDER_RADIUS

  ul
    list-style: none
    margin: 0
    padding: 0

  li
    ellipsis()
    margin: 0
    padding: 0

    &.active
      background-color: BLUE_LIGHT
      margin: 0 (-1 * SPACING_SIZE)
      padding: 0 0 0 SPACING_SIZE
      button
        color: WHITE

  .avatar
    float: left
    border-radius: BORDER_RADIUS
    width: AVATAR_SIZE_SMALL
    height: AVATAR_SIZE_SMALL
    margin-right: (SPACING_SIZE * (2 / 3))
    opacity: 0.8

  .status
    background-color: PURPLE
    text-align: center
    position: absolute
    padding: SPACING_SIZE 0
    bottom: 0
    left: 0
    right: 0
    font-size: FONT_SIZE_SMALL

    .username, .peers
      ellipsis()
    .peers
      margin-top: SPACING_SIZE
      font-size: FONT_SIZE_EXTRA_SMALL
    .username
      font-weight: bold

  .users .blocked
    opacity: 0.5

.content
  position: absolute
  right: 0
  top: 0
  bottom: 0
  left: SIDEBAR_WIDTH

.messages-container
  height: 90%

.top-bar
  background-color: WHITE
  box-shadow: 0 0 5px 0 GRAY_LIGHT
  padding: SPACING_SIZE
  height: TOP_BAR_HEIGHT

  .channelName
    display: inline-block
    color: BLUE_LIGHT
    font-size: FONT_SIZE_BIG
    margin-top: SPACING_SIZE * 2
    margin-left: SPACING_SIZE

  .button
    float: right
    margin-top: -3px

.messages
  overflow-y: auto
  margin: 0
  height: calc(100% - 45px)
  padding: 0
  margin-bottom: TOP_BAR_HEIGHT

  li
    list-style: none

  li.message
    div.msg
      border-radius: 10px
      margin-left: 60px
      padding: 8px

  li.message:nth-child(odd)
    div.msg
      background-color: PURPLE

  li.message:nth-child(even)
    div.msg
      background-color: BLUE_LIGHT

.message
  margin: SPACING_SIZE
  color: WHITE
  font-size: FONT_SIZE_SMALL
  line-height: 1.2em
  .avatar
    float: left
    border-radius: BORDER_RADIUS
    width: AVATAR_SIZE
    height: AVATAR_SIZE
  .username, .verified, .timestamp
    display: inline-block
    line-height: 1
  .username
    font-size: FONT_SIZE_SMALL
    font-weight: bold
    margin-left: SPACING_SIZE
  .verified
    background-image: url('../static/verified.svg')
    background-size: 10px
    width: 10px
    height: 10px
    margin-left: (SPACING_SIZE / 2)
    opacity: 0.8
  .timestamp
    margin-left: SPACING_SIZE
    font-size: FONT_SIZE_EXTRA_SMALL
  .text
    font-size: FONT_SIZE_SMALL
    margin-left: SPACING_SIZE
    overflow-wrap: break-word
  .highlight
    background-color: HIGHLIGHT
    padding-left: 4px
    margin-left: -4px
    margin-right: (-1 * SPACING_SIZE)
  p
    margin: 4px 0
  img
    max-width: 100%
  pre
    margin: 0

.starterMessage
  color: GRAY
  font-style: italic
  font-size: FONT_SIZE
  text-align: center
  margin: (SPACING_SIZE * 3) SPACING_SIZE SPACING_SIZE SPACING_SIZE

textarea.composer
  border-radius: BORDER_RADIUS
  border: solid 3px GRAY_LIGHT
  bottom: 0
  box-sizing: padding-box
  display: block
  font-size: FONT_SIZE_SMALL
  margin: SPACING_SIZE
  overflow: hidden
  padding: SPACING_SIZE
  position: absolute
  width: calc(100% - 25px)
  resize: none

img.emoji
  height: 1.2em
  width: 1.2em
  margin: 0 .05em 0 .1em
  vertical-align: -0.1em

.leaveButton
  border-radius: BORDER_RADIUS

.modal-overlay
  background-color: rgba(0,0,0,.001)
  width: 100%
  height: 100%
  position: fixed
  top: 0
  left: 0
  z-index: 9999
  .modal
    position: absolute
    top: 50%
    left: 50%
    z-index: 9998
    background-color: WHITE
    padding: .5em
    color: BLACK
    margin-top: 10px
    ul
      margin: 0
      padding: 0
    li
      list-style: none
      a,button
        width: 100%
        display: block
        text-decoration: none
        color: BLACK
        background: none
        border: none
        text-align: left
        padding: .3em
        cursor: pointer

::-webkit-scrollbar
  width: 10px

::-webkit-scrollbar-track
  background-color: SCROLLBAR_TRACK
  border-radius: 8px

::-webkit-scrollbar-thumb
  background-color: SCROLLBAR_THUMB_DARKEN
  border-radius: 8px

.sidebar
  ::-webkit-scrollbar-thumb
    background-color: SCROLLBAR_THUMB_LIGHTEN
    border-radius: 8px
