/* BSD License (http://purecss.io/buttons/) */

.button
  display: inline-block
  zoom: 1
  line-height: normal
  white-space: nowrap
  vertical-align: middle
  text-align: center
  cursor: pointer
  -webkit-user-drag: none
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  box-sizing: border-box

/* Firefox: Get rid of the inner focus border */
.button::-moz-focus-inner
  padding: 0
  border: 0

.button
  font-family: inherit
  font-size: 100%
  padding: 0.5em 1em
  color: #444 /* rgba not supported (IE 8) */
  color: rgba(0, 0, 0, 0.80) /* rgba supported */
  border: 1px solid #999  /*IE 6/7/8*/
  border: none rgba(0, 0, 0, 0)  /*IE9 + everything else*/
  background-color: #E6E6E6
  text-decoration: none
  border-radius: 2px

.button-hover,
.button:hover,
.button:focus
  background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10))

.button:focus
  outline: 0

.button-active,
.button:active
  box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset
  border-color: #000

.button[disabled],
.button-disabled,
.button-disabled:hover,
.button-disabled:focus,
.button-disabled:active
  border: none
  background-image: none
  opacity: 0.40
  cursor: not-allowed
  box-shadow: none

.button-hidden
  display: none

/* Firefox: Get rid of the inner focus border */
.button::-moz-focus-inner
  padding: 0
  border: 0

.button-primary,
.button-selected,
a.button-primary,
a.button-selected
  background-color: rgb(0, 120, 231)
  color: #fff


